.credit-default
  %header.sc-eilVRo.gwgMhX.sc-epnACN.dPkCkl
    = render 'shared/header'
    = render 'shared/bread_bar'
  %main.credit-container.clearfix
    .h-credit
      %section.h-chapter-container
        %h2.h-chapter-zilyouhou クレジットカード情報入力
        %form#add-card-form.h-.single-inner.registratration-form{action: "https://www.mercari.com/jp/mypage/card/add", "data-adyen-id" => "card-fom", method: "POST", novalidate: "novealidate"}
          %input{naem:  "__csrf_value", type: "hidden", value: "3da33186e1167f7770a2c4888a708062973aa0a30a01bc8be7651a26a668eef421d9b30a874bf25c2fa082bdc912617a310e1a2b1b599324ee2f08a862b6b64c1"}/
          .h-single-content
            .h-form-group
              %label{for: "payment_card_no"} カード番号
              %span.h-form-require 必須
              %input#payment_card_no.h-input-default{"data-input-type" => "card", maxlength: "19", placeholder: "半角英数のみ", type: "text", value: ""}/
              %ul#card-no-error-wrapper.has-error-text
              %ul.h-signup-card-list
                %li 
                  = image_tag "//www-mercari-jp.akamaized.net/assets/img/card/visa.svg?1248199994", size: "49x20", alt: ""
                %li 
                  = image_tag "//www-mercari-jp.akamaized.net/assets/img/card/master-card.svg?1248199994", size: "34x20", alt: ""
                %li 
                  = image_tag "//www-mercari-jp.akamaized.net/assets/img/card/saison-card.svg?1248199994", size: "30x20", alt: ""
                %li 
                  = image_tag "//www-mercari-jp.akamaized.net/assets/img/card/jcb.svg?1248199994", size: "32x20", alt: ""
                %li 
                  = image_tag "//www-mercari-jp.akamaized.net/assets/img/card/american_express.svg?1248199994", size: "21x20", alt: ""
                %li 
                  = image_tag "//www-mercari-jp.akamaized.net/assets/img/card/dinersclub.svg?1248199994", size: "32x20", alt: ""
                %li 
                  = image_tag "//www-mercari-jp.akamaized.net/assets/img/card/discover.svg?1248199994", size: "32x20", alt: ""
            .h-form-group.signup-form-expire
              %label{for: "payment_card_expire"} 有効期限
              %span.h-form-require 必須
              %br/
              .h-select-wrap.half
                %select#payment_card_expire_mm.h-select-default
                  %option{value: "01"} 01
                  %option{value: "02"} 02
                  %option{value: "03"} 03
                  %option{value: "04"} 04
                  %option{value: "05"} 05
                  %option{value: "06"} 06
                  %option{value: "07"} 07
                  %option{value: "08"} 08
                  %option{value: "09"} 09
                  %option{value: "10"} 10
                  %option{value: "11"} 11
                  %option{value: "12"} 12
                %i.fa.fa-chevron-down
                %span 月
              .h-select-wrap.half
                %select#payment_card_expire_yy.h-select-default
                  %option{value: "19"} 19
                  %option{value: "20"} 20
                  %option{value: "21"} 21
                  %option{value: "22"} 22
                  %option{value: "23"} 23
                  %option{value: "24"} 24
                  %option{value: "25"} 25
                  %option{value: "26"} 26
                  %option{value: "27"} 27
                  %option{value: "28"} 28
                  %option{value: "29"} 29
                %i.fa.fa-chevron-down
                %span 年
              %ul#expire-mm-error-wrapper.has-error-text
              %ul#expire-yy-error-wrapper.has-error-text
            .h-form-group
              %label{for: "payment_card_security_code"} セキュリティコード
              %span.h-form-require 必須
              %input#payment_card_security_code.h-input-default{placeholder: "カード背面4桁もしくは3行の番号", type: "number", value: ""}/
              %ul#security-code-error-wrapper.has-error-text
              .signup-seqcode
                .signup-seqcode-text{"data-js" => "show-tips-toggle"}
                  %span.form-question ?
                  カード裏面の番号とは？
                .signup-seqcode-info{"date-jp" => "show-tips-content"}
                  カードの裏面をご参照ください。
                  %br/ 
                  = image_tag "/www-mercari-jp.akamaized.net/assets/img/signup/seq-card.png?1248199994", size: "240x0", alt: ""
            %input#user_id{name: "user_id", type: "hidden", value: "175036195"}/
            %input#encrypted_card_data{:name => "encrypted_card_data", type: "hidden"}/
            %button#submit-button.btn-default.btn-red{type: "button"} 追加する
          %script{async: "", src: "https://www.google-analytics.com/analytics.js", type: "text/javascript"}
          %script{async: "", src: "https://www.google-analytics.com/plugins/ua/ec.js", type: "text/javascript"}
          %script{async: "", src: "https://www.google-analytics.com/gtm/js?id=GTM-WVG9WTC&cid=135372611.1572062341", type: "text/javascript"}
          %script{async: "", src: "https://connect.facebook.net/signals/config/1964320460558899?v=2.9.5&r=stable"}
          %script{async: "", src: "https://connect.facebook.net/en_US/fbevents.js"}
          %script{async: "", src: "https://www.google-analytics.com/analytics.js", type: "text/javascript"}
          %script{async: "", src: "//www.googleadservices.com/pagead/conversion_async.js", type: "text/javascript"}
          %script{async: "", src: "https://www.googletagmanager.com/gtm.js?id=GTM-KLPT5L5"}
          %script{async: "", src: "https://p01.mul-pay.jp/ext/js/token.js"}
          %script{async: "", src: "//www-mercari-jp.akamaized.net/assets/js/get_gmopg_card_token.js?1146315985"}
          %script{src: "https://googleads.g.doubleclick.net/pagead/viewthroughconversion/880621981/?random=1572246404932&cv=9&fst=1572246404932&\n num=1&guid=ON&resp=GooglemKTybQhCsO&u_h=900&u_w=1440&u_ah=816&u_aw=1440&u_cd=24&u_his=33&u_tz=540&u_java=false&\n u_nplug=3&u_nmime=4&gtm=2wgaa0&sendb=1&ig=1&frm=0&url=https%3A%2F%2Fwww.mercari.com%2Fjp%2Fmypage%2Fcard%2Fcreate%2F&ref=https%3A%2F%2Fwww.mercari.com%2Fjp%2Fmypage%2Fcard%2F&\n tiba=%E3%82%AF%E3%83%AC%E3%82%B8%E3%83%83%E3%83%88%E3%82%AB%E3%83%BC%E3%83%89%E6%83%85%E5%A0%B1%E5%85%A5%E5%8A%9B%20-%20%E3%83%A1%E3%83%AB%E3%82%AB%E3%83%AA%20%E3%82%B9%E3%83%9E%E3%83%9B%E3%81%A7%E3%81%8B%E3%82%93%E3%81%9F%E3%82%93%20%E3%83%95%E3%83%AA%E3%83%9E&\n async=1&rfmt=3&fmt=4"}
    .l-side
      = render 'shared/side_bar'
  %footer.sc-dTdPqK.hvtMHp.sc-gbzWSY.tMFrx
    =render 'shared/footer'
  %exhibit.sc-bHwgHz.eUokWJ
    .sc-krDsej.judNJS
      .sc-hzDkRC.cEMgYD
        .sc-jhAzac.jsMoaY 
          =link_to"出品",""
        %svg.sc-kGXeez.sc-fBuWsC.bMYJEZ{"aria-hidden": "true", height: "16", viewbox: "0 0 18 16", width: "18"}
          %path{d: "M6.3 0L4.653 1.778H1.8c-.99 0-1.8.8-1.8 1.778v10.666C0 15.2.81 16 1.8 16h14.4c.99 0 1.8-.8 1.8-1.778V3.556c0-.978-.81-1.778-1.8-1.778h-2.853L11.7 0H6.3zM9 13.333c-2.484 0-4.5-1.99-4.5-4.444 0-2.453 2.016-4.445 4.5-4.445s4.5 1.992 4.5 4.445c0 2.453-2.016 4.444-4.5 4.444zm0-1.6c1.59 0 2.88-1.273 2.88-2.844S10.59 6.044 9 6.044c-1.59 0-2.88 1.274-2.88 2.845 0 1.57 1.29 2.844 2.88 2.844z", fill: "currentColor", "fill-rule": "nonzero"}