- breadcrumb :identification

.default-container
  %header.sc-eilVRo.gwgMhX.sc-epnACN.dPkCkl
    = render 'shared/header'
    = render 'shared/bread_bar'
  %main.l-container.clearfix
    .l-content
      %section.l-chapter.mypage-identification
        %h2.l-chapter_head 本人情報の登録
        %form.l-single-inner{action: "https//www.mercari.com/jp/mypage/identification/save/", method: "POST", novalidate: ""}
          %div
            %p
              お客さまの本人情報をご登録ください。
              %br>/
              登録されたお名前・生年月日を変更する場合、本人確認書類の提出が必要になります。
            %p.text-right
              =link_to "本人確認書類のアップロードについて", "/jp/help_center/article/495/"
              %i.fa.fa-chevron-right
          .form-group
            %label お名前
            %p
              = @user.sur_name + " " + @user.fr_name
          .form-group
            %label お名前カナ
            %p 
              = @user.sur_name_yomi + " " + @user.first_name_yomi
          .form-group
            %label{for: "birthday"} 生年月日
            %p 
              = "#{@user.birthday_year}/#{@user.birthday_manth}/#{@user.birthday_day}"
          .form-group
            %label{for: "zip_code"} 郵便番号
            %span.form-arbitrary 任意
            %input.input-default{name: "zip_code", placeholder: "例）1234567", type: "text", value: ""}/
          .form-group
            %label{for: "prefecture"} 都道府県
            %span.form-arbitrary 任意
            .select-wrap
              %i.fa.fa-chevron-down
              %select.select-default{name: "prefecture"}
                %option --
                - @data.each do |data|
                  %option
                    =data.name
          .form-group
            %label{for: "city"} 市区町村
            %span.form-arbitrary 任意
            %input.input-default{name: "city", placeholder: "例) 横浜市緑区", type: "text", value: ""}/
          .form-group
            %label{for: "address1_label"} 番地
            %span.form-arbitrary 任意
            %input.input-default{name: "address1", placeholder: "例) 青山1−1−1", type: "text", value: ""}/
          .form-group
            %label{for: "address2_label"} 建物名
            %span.form-arbitrary 任意
            %input.input-default{name: "address2", placeholder: "例) 柳ビル103", type: "text", value: ""}/
          %button.btn-default.btn-red{type: "submit"} 登録する
          .form-group.text-right
            %p
              = link_to "本人情報の登録について", "/jp/help_center/article/423/", target: "_blank"
              %i.fa.fa-chevron-right
          %input{name: "__csrf_value", type: "hidden", value: "660199b05a53a259c77d0fb7e37799b4b86158f7db09d59cb578d6c5d30783de110c788cbb6800f42ed81d8f0f9762f11c523ca063b44588d32a33e6a5fec13df"}/
    .l-side
      = render 'shared/side_bar'
      = render 'shared/cameraicon'

  %footer.sc-dTdPqK.hvtMHp.sc-gbzWSY.tMFrx
    =render 'shared/footer'
