- breadcrumb :mypage, @mypage

.default-container
  %header.sc-eilVRo.gwgMhX.sc-epnACN.dPkCkl
    = render 'shared/header'
    %nav.bread-bar
      = render 'shared/bread_bar'
    %main.l-container.clearfix
      .l-content
        %section.mypage-user-icon
          = link_to "", ""
          %figure
            = image_tag "https://static.mercdn.net/images/member_photo_noimage_thumb.png", width: "60", alt: "", height: "60"
          %h2.bold
            ニックネーム
          .mypage-number
            %div
              評価
              %span.bold 0
            %div
              出品数
              %span.bold 0
        %section.mypage-tab-container-notification-todo
          %ul.mypage-tabs
            %li.active
              %h3
                = link_to "お知らせ", "#mypage-tab-notification"
            %li
              %h3
                = link_to "やることリスト", "#mypage-tab-todo"
          .tab-content
            %ul#mypage-tab-notification.mypage-item-list.tab-pane.active
              %li.mypage-item-not-found.bold お知らせの商品がありません
            %ul#mypage-tab-todo.mypage-item-list.tab-pane
              %li
                =link_to '.mypage-item-link', "https://www.mercari.com/jp/help_center/article/759/"
              %figure
                =image_tag "//static.mercdn.net/images/mercari_profile.png", alt: "", class: ".lazyload"
              .mypage-item-body
                .mypage-item-text ご登録のメールアドレスに認証メールを送ります。メールに記載のURLをクリックして、メールアドレスを認証してください。
                %time
                  %i.icon-time
                  %span １日前
                %i.icon-arrow-right
              %li.mypage-go-list
                = link_to "一覧を見る", "" 
        %section.mypage-tab-container
          %h2.mypage-tab-head 購入した商品
          %ul.mypage-tabs
            %li.active
              %h3
                = link_to "取引中", "#mypage-tab-transaction-now"
            %li
              %h3
                = link_to "過去の取引", "#mypage-tab-transaction-old"
          .tab-content
            %ul#mypage-tab-transaction-now.mypage-item-list.tab-pane.active
              %li.mypage-item-not-found.bold 取引中の商品がありません
            %ul#mypage-tab-transaction-old.mypage-item-list.tab-pane
              %li.mypage-item-not-found.bold 過去に取引した商品がありません
      .l-side
        = render 'shared/side_bar'
        = render 'shared/cameraicon'
        %footer.sc-dTdPqK.hvtMHp.sc-gbzWSY.tMFrx
          = render 'shared/footer'


