.default-container
  %header.sc-eilVRo.gwgMhX.sc-epnACN.dPkCkl
    = render 'shared/header'
    = render 'shared/bread_bar'
  %main.l-container.clearfix
    .l-content
      %section.mypage-tab-container
        %h2.mypage-tab-head 出品した商品
        %ul.listing-tabs
          %li.active
            %h3
              =link_to "出品中", "#mypage-tab-transaction-now"
          %li
            %h3
              =link_to "取引中", "/jp/mypage/listings/in_progress/"
          %li
            %h3
              =link_to "売却済み", "/jp/mypage/listings/completed/"
      - @product.zip(@image).each do |product, image|
        .tab-content
          %ul#mypage-tab-transaction-now.mypage-item-list.tab-pane.active
            %li
              =link_to my_details_users_path, class: "mypage-item-link" do
                %figure
                  =image_tag "#{image.product_image}", class: "is-higher-width lazyloaded"
                .mypage-item-body.show-stock-item
                  .mypage-item-text
                    = product.name
                  %div
                    %span.listing-item-count
                      %i.fa.fa-heart
                      %span 1
                    %span.listing-item-count
                      %i.fa.fa-comment-alt
                      %span 0
                    .mypage-item-status.bold.awaiting
                      出品中
                .fa.fa-chevron-right
      %ul.mypage-history.pager
        %li.pager-prev.pager-cell
          =link_to "/jp/mypage/listings/listing/?min_pager_id=5138546276" do
            .fa.fa-chevron-left
        %li.pager-next.pager-cell
          =link_to "/jp/mypage/listings/listing/?max_pager_id=5138546276" do
            .fa.fa-chevron-right
    .l-side
      = render 'shared/side_bar'
      = render 'shared/cameraicon'
  %footer.sc-dTdPqK.hvtMHp.sc-gbzWSY.tMFrx
    =render 'shared/footer'

