- breadcrumb :progress

.default-container
  %header.sc-eilVRo.gwgMhX.sc-epnACN.dPkCkl
    = render 'shared/header'
    = render 'shared/bread_bar'
  %main.l-container.clearfix
    .l-content
      %section.mypage-tab-container
        %h2.mypage-tab-head 出品した商品
        %ul.listing-tabs
          %li.active
            %h3
              =link_to "出品中", ""
          %li
            %h3
              =link_to "取引中", "/jp/mypage/listings/in_progress/"
          %li
            %h3
              =link_to "売却済み", "/jp/mypage/listings/completed/"
      - @products.zip(@image).each do |product, image|
        .tab-content

        - @products.each do |product|
          = form_for product, url: my_details_product_path(product), method: :get do |f|
            %ul#mypage-tab-transaction-now.mypage-item-list.tab-pane.active
              %li
              .mypage-item-link
                %figure
                  =image_tag "#{image.product_image}", class: "is-higher-width lazyloaded"
                .mypage-item-body.show-stock-item
                  .mypage-item-text
                    = product.name
                  %div
                    %span.listing-item-count
                      %i.fa.fa-heart
                      %span 1
                    %span.listing-item-count
                      %i.fa.fa-comment-alt
                      %span 0
                    .mypage-item-status.bold.awaiting
                      = f.hidden_field :id, value: product.id
                      = f.hidden_field :seller_id, value: product.id
                      = f.submit '出品中',method: :post
                .fa.fa-chevron-right
      %ul.mypage-history.pager
        %li.pager-prev.pager-cell
          =link_to "/jp/mypage/listings/listing/?min_pager_id=5138546276" do
            .fa.fa-chevron-left
        %li.pager-next.pager-cell
          =link_to "/jp/mypage/listings/listing/?max_pager_id=5138546276" do
            .fa.fa-chevron-right
    .l-side
      = render 'shared/side_bar'
      = render 'shared/cameraicon'
  %footer.sc-dTdPqK.hvtMHp.sc-gbzWSY.tMFrx
    =render 'shared/footer'

