- breadcrumb :mypage

.default-container
  %header.sc-eilVRo.gwgMhX.sc-epnACN.dPkCkl
    = render 'shared/header'
    = render 'shared/bread_bar'
  %main.l-container.clearfix
    .l-content
      %section.mypage-user-icon
        = link_to "", ""
        %figure
          - if current_user.icon_image == nil
            = image_tag "https://static.mercdn.net/images/member_photo_noimage_thumb.png", width: "60", alt: "", height: "60"
          - else
            = image_tag current_user.icon_image, width: "60", alt: "", height: "60"
        %h2.bold
          = current_user.nick_name
        .mypage-number
          %div
            評価
            %span.bold 
              = current_user.evaluation
          %div
            出品数
            %span.bold 
              = current_user.exhibits_number
      %section.mypage-tab-container-notification-todo
        %ul.mypage-tabs
          %li.active
            %h3
              = link_to "お知らせ", "#mypage-tab-notification"
          %li
            %h3
              = link_to 'やることリスト', "https://www.mercari.com/jp/help_center/article/759/"
        .tab-content
          %ul#mypage-tab-transaction-now.mypage-tab-transaction-now
            %li.mypage-item-not-found.bold お知らせはありません
            .mypage-item-body.k
              .mypage-item-text.k
            %li.mypage-go-list.k
              = link_to "一覧を見る", "" 
      %section.mypage-tab-container
        %h2.mypage-tab-head 購入した商品
        %ul.mypage-tabs
          %li.active
            %h3
              = link_to "取引中", "#mypage-tab-transaction-now"
          %li
            %h3
              = link_to "過去の取引", "#mypage-tab-transaction-old"
        .tab-content
          %ul#mypage-tab-transaction-now.mypage-tab-transaction-now
            %li.mypage-item-not-found.bold 取引中の商品がありません
          %ul#mypage-tab-transaction-old.mypage-item-list.tab-pane
            %li.mypage-item-not-found.bold 過去に取引した商品がありません
    .l-side
      = render 'shared/side_bar'
  =render 'shared/cameraicon'
  =render 'shared/footer'

