%body
  .single-header-done_k
  .login_box
    .single-main-done_k
      .l-single-container_done_k
        .l-single-head_login_k
          .new_text_k
            アカウントをお持ちでない方はこちら
          = link_to(sign_in_select_signup_index_path, method: :get) do
            .new_account_k
              新規会員登録
    .single-main-done_k_t
      .l-single-container_done_k
        .l-single-head_login_k
          = link_to(user_facebook_omniauth_authorize_path, method: :post) do
            .new_account_f_k
              .text_f_k
                Facebookでログイン
              .icon_box_f_k_l
                %i.fa.fa-facebook-square
          = link_to(user_google_oauth2_omniauth_authorize_path, method: :post) do
            .new_account_g_k
              .text_g_k
                Googleでログイン
              .icon_box_f_k_l
                %img{src: "/images/google.png", alt: "", width: "23px", height: "23px"}
          = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
            .form_lavel_mail_k
              = f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'メールアドレス'
            .form-group_pass_k 
              = f.password_field  :password, autofocus: true, autocomplete: "current-password", placeholder: 'パスワード'
            .form-group_robot__login_k
              = recaptcha_tags
            .form-group_bottan_login_k 
              = f.submit "ログイン",class: 'submit-btn_k_log'

  %footer.product-new-footer-T
    = render 'shared/simple_footer'
