%div.sc-TFwJa.wYTWu
  = render 'shared/header'
  .main-top-content
    .top-content
      -# js対応
      %div.slick
        %div
          =link_to "https://www.mercari.com/jp/featured/camp/" do
            =image_tag "/images/banner-camp.png", alt: "mercari", class:"slick.first"
      .sc-drKuOJ.ibydfh
        %h2.style_heading__3qSF6.common_fontFamily__3-3Si.style_responsiveLv1__3ygH4.sc-gRnDUn.bVIPta 人気のカテゴリー
        .sc-cmjSyW.hTgxLd
          %ul.sc-sdtwF.cmQcPI
            %li.sc-iYUSvU.gUHLnE
              .sc-cHSUfg.sc-cTjmhe.emrFJX
                = link_to "レディース",""
              .sc-cHSUfg.sc-cTjmhe.emrFJX
                = link_to "メンズ",""
              .sc-cHSUfg.sc-cTjmhe.emrFJX
                = link_to "ベビー・キッズ",""
              .sc-cHSUfg.sc-cTjmhe.emrFJX
                = link_to "インテリア・住まい・小物",""
      .sc-gkFcWv.lcfgps
        .sc-hUfwpO.kyoAKq
          .sc-dRFtgE.hEIctR.sc-cqpYsc.iyaAGP{name: "scroll-1"}
            %h3.style_heading__3qSF6.common_fontFamily__3-3Si.style_responsiveLv2__3K0hn.sc-hBbWxd.exknGn レディース新着アイテム
            .sc-dyGzUR.kfbxDu
              = link_to"もっと見る",""
          .main.products.content
            %ul.products.content.box
              - @category_women.zip(@images_l).each do |product, image|
                %li.products.content.boxes
                  %div.products.content.boxes.inner
                    =link_to "","", class:"products.link"
                    %figure.style_card__1SiAF.style_responsiveLv1__26FNN.common_fontFamily__3-3Si.style_fluid__19gwX
                      %figcaption
                        %span
                          =product.name
                      .style_thumbnail__N_xAi
                        %span{"aria-label": "Price"}
                          ¥
                          =product.price 
                        = link_to "/products/#{product.id}" do
                          %img.style_thumbnail__N_xAi
                          - if image != nil
                            = image_tag "#{image.product_image}"
        .sc-hUfwpO.kyoAKq
          .sc-dRFtgE.hEIctR.sc-cqpYsc.iyaAGP{name: "scroll-1"}
            %h3.style_heading__3qSF6.common_fontFamily__3-3Si.style_responsiveLv2__3K0hn.sc-hBbWxd.exknGn メンズ新着アイテム
            .sc-dyGzUR.kfbxDu
              = link_to"もっと見る",""
          .main.products.content
            %ul.products.content.box
              - @category_men.zip(@images_m).each do |product, image|
                %li.products.content.boxes
                  %div.products.content.boxes.inner
                    =link_to "","", class:"products.link"
                    %figure.style_card__1SiAF.style_responsiveLv1__26FNN.common_fontFamily__3-3Si.style_fluid__19gwX
                      %figcaption
                        %span
                          =product.name
                      .style_thumbnail__N_xAi
                        %span{"aria-label": "Price"}
                          ¥
                          =product.price 
                        = link_to "/products/#{product.id}" do
                          %img.style_thumbnail__N_xAi
                          - if image != nil
                            = image_tag "#{image.product_image}"
        .sc-hUfwpO.kyoAKq
          .sc-dRFtgE.hEIctR.sc-cqpYsc.iyaAGP{name: "scroll-1"}
            %h3.style_heading__3qSF6.common_fontFamily__3-3Si.style_responsiveLv2__3K0hn.sc-hBbWxd.exknGn ベビーキッズ新着アイテム
            .sc-dyGzUR.kfbxDu
              = link_to"もっと見る",""
          .main.products.content
            %ul.products.content.box
              - @category_kids.zip(@images_b).each do |product, image|
                %li.products.content.boxes
                  %div.products.content.boxes.inner
                    =link_to "","", class:"products.link"
                    %figure.style_card__1SiAF.style_responsiveLv1__26FNN.common_fontFamily__3-3Si.style_fluid__19gwX
                      %figcaption
                        %span
                          =product.name
                      .style_thumbnail__N_xAi
                        %span{"aria-label": "Price"}
                          ¥
                          =product.price 
                        = link_to "/products/#{product.id}" do
                          %img.style_thumbnail__N_xAi
                          - if image != nil
                            = image_tag "#{image.product_image}"
        .sc-hUfwpO.kyoAKq
          .sc-dRFtgE.hEIctR.sc-cqpYsc.iyaAGP{name: "scroll-1"}
            %h3.style_heading__3qSF6.common_fontFamily__3-3Si.style_responsiveLv2__3K0hn.sc-hBbWxd.exknGn インテリア・住まい・小物新着アイテム
            .sc-dyGzUR.kfbxDu
              = link_to"もっと見る",""
          .main.products.content
            %ul.products.content.box
              - @category_items.zip(@images_i).each do |product, image|
                %li.products.content.boxes
                  %div.products.content.boxes.inner
                    =link_to "","", class:"products.link"
                    %figure.style_card__1SiAF.style_responsiveLv1__26FNN.common_fontFamily__3-3Si.style_fluid__19gwX
                      %figcaption
                        %span
                          =product.name
                      .style_thumbnail__N_xAi
                        %span{"aria-label": "Price"}
                          ¥
                          =product.price 
                        = link_to "/products/#{product.id}" do
                          %img.style_thumbnail__N_xAi
                          - if image != nil
                            = image_tag "#{image.product_image}"
                    
                          
    =render 'shared/cameraicon'
    =render 'shared/footer'