%div.main-top-all
  = render 'shared/header'
  .main-top-content
    .top-content
      -# js対応
      %div.slick
        %div
          =link_to "https://www.mercari.com/jp/featured/camp/" do
            =image_tag "/images/banner-camp.png", alt: "mercari", class:"slick.first"
      .top-category-back-content
        %h2.top-category-popular 人気のカテゴリー
        .top-category-text-box
          %ul.top-category-text-box-inner
            %li.top-category-name-box
              .top-category-name
                = link_to "レディース",""
              .top-category-name
                = link_to "メンズ",""
              .top-category-name
                = link_to "ベビー・キッズ",""
              .top-category-name
                = link_to "インテリア・住まい・小物",""
      .top-product-all-box
        .top-product-category-box
          .top-product-category-name-box{name: "scroll-1"}
            %h3.top-category-new-product レディース新着アイテム
            .top-product-category-more
              = link_to"もっと見る",""
          .main.products.content
            %ul.products.content.box
              - @category_women.zip(@images_l).each do |product, image|
                %li.products.content.boxes
                  %div.products.content.boxes.inner
                    =link_to "","", class:"products.link"
                    %figure.style_card__1SiAF.style_responsiveLv1__26FNN.common_fontFamily__3-3Si.style_fluid__19gwX
                      %figcaption
                        %span
                          =product.name
                      .style_thumbnail__N_xAi
                        %span{"aria-label": "Price"}
                          ¥
                          =product.price 
                        = link_to "/products/#{product.id}" do
                          %img.style_thumbnail__N_xAi
                          - if image != nil
                            = image_tag "#{image.product_image}"
        .top-product-category-box
          .top-product-category-name-box{name: "scroll-1"}
            %h3.top-category-new-product メンズ新着アイテム
            .top-product-category-more
              = link_to"もっと見る",""
          .main.products.content
            %ul.products.content.box
              - @category_men.zip(@images_m).each do |product, image|
                %li.products.content.boxes
                  %div.products.content.boxes.inner
                    =link_to "","", class:"products.link"
                    %figure.style_card__1SiAF.style_responsiveLv1__26FNN.common_fontFamily__3-3Si.style_fluid__19gwX
                      %figcaption
                        %span
                          =product.name
                      .style_thumbnail__N_xAi
                        %span{"aria-label": "Price"}
                          ¥
                          =product.price 
                        = link_to "/products/#{product.id}" do
                          %img.style_thumbnail__N_xAi
                          - if image != nil
                            = image_tag "#{image.product_image}"
        .top-product-category-box
          .top-product-category-name-box{name: "scroll-1"}
            %h3.top-category-new-product ベビーキッズ新着アイテム
            .top-product-category-more
              = link_to"もっと見る",""
          .main.products.content
            %ul.products.content.box
              - @category_kids.zip(@images_k).each do |product, image|
                %li.products.content.boxes
                  %div.products.content.boxes.inner
                    =link_to "","", class:"products.link"
                    %figure.style_card__1SiAF.style_responsiveLv1__26FNN.common_fontFamily__3-3Si.style_fluid__19gwX
                      %figcaption
                        %span
                          =product.name
                      .style_thumbnail__N_xAi
                        %span{"aria-label": "Price"}
                          ¥
                          =product.price 
                        = link_to "/products/#{product.id}" do
                          %img.style_thumbnail__N_xAi
                          - if image != nil
                            = image_tag "#{image.product_image}"
        .top-product-category-box
          .top-product-category-name-box{name: "scroll-1"}
            %h3.top-category-new-product インテリア・住まい・小物新着アイテム
            .top-product-category-more
              = link_to"もっと見る",""
          .main.products.content
            %ul.products.content.box
              - @category_items.zip(@images_i).each do |product, image|
                %li.products.content.boxes
                  %div.products.content.boxes.inner
                    =link_to "","", class:"products.link"
                    %figure.style_card__1SiAF.style_responsiveLv1__26FNN.common_fontFamily__3-3Si.style_fluid__19gwX
                      %figcaption
                        %span
                          =product.name
                      .style_thumbnail__N_xAi
                        %span{"aria-label": "Price"}
                          ¥
                          =product.price 
                        = link_to "/products/#{product.id}" do
                          %img.style_thumbnail__N_xAi
                          - if image != nil
                            = image_tag "#{image.product_image}"
                    
                          
    =render 'shared/cameraicon'
    =render 'shared/footer'