.product-new-wrapper-T
  %header.product-new-header-T
    %h1
      =link_to "https://www.mercari.com/jp/" do
        =image_tag "//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?1248199994", alt: "mercari"
  %main.product-new-main-T
    %h2.product-new-formtitle-T
      商品の情報を入力
    =form_for [@user, @product], html: { class: "product-new-form"} do |f|
      .img-uploader-box
        %h3.img-uploader-head
          出品画像
          %span.must-filled-mark-t
            必須
        %p
          最大10枚までアップロードできます
        .dropbox-container.flexcontainer
          .img-uploader-container
            .img-uploader.img-uploader-drop-box
              ???
              =f.fields_for :product_images do |i|
                =i.file_field :product_image
              %pre.visible-pc
                :preserve
          
          
                    ドラッグアンドドロップ　　　　　　　
                    またはクリックしてファイルをアップロード　　　　　　　
                %i.icon-camera

      .form-sub-t
        .form-input-t
          %label
            商品名
            %span.must-filled-mark-t
              必須
          %div
            =f.text_field :name, placeholder: "商品名（必須 40文字まで)", class: "input-default"
        .form-input-t
          %label
            商品の説明
            %span.must-filled-mark-t
              必須
          = f.text_area :text, class: "input-default", placeholder: "商品の説明（必須 1,000文字以内）（色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。"
      .form-sub-t.flexcontainer
        %h3.sub-title-t
          商品の詳細
        .form-input-list-t
          .form-input-t
            %label
              カテゴリー
              %span.must-filled-mark-t
                必須
            %div
              .select-wrap
                %i.icon-arrow-bottom
                = f.select :categry, Product.categries.keys.to_a, {include_blank: "---"}, {class: "select-default"}
          .form-input-t
            %label
              商品の状態
              %span.must-filled-mark-t
                必須
            .select-wrap
              %i.icon-arrow-bottom
              = f.select :status, Product.statuses.keys.to_a, {include_blank: "---"}, {class: "select-default"}
      .form-sub-t.flexcontainer
        %h3.sub-title-t
          配送について
          =link_to "?", "/jp/help_center/article/68/", target: "_blank", class: "help-link-icon-t"
        .form-input-list-t
          .form-input-t
            %label
              配送料の負担
              %span.must-filled-mark-t
                必須
            .select-wrap
              %i.icon-arrow-bottom
              = f.select :delivery_fee, Product.delivery_fees.keys.to_a, {include_blank: "---"}, {class: "select-default"}
          .form-input-t
            %label
              発送元の地域
              %span.must-filled-mark-t
                必須
            .select-wrap
              %i.icon-arrow-bottom
              = f.collection_select :delivery_from, Prefecture.all, :id, :name, {include_blank: "---"}, {class: "select-default"}
          .form-input-t
            %label
              発送までの日数
              %span.must-filled-mark-t
                必須
            .select-wrap
              %i.icon-arrow-bottom
              = f.select :estimated_delivery_date, Product.estimated_delivery_dates.keys.to_a, {include_blank: "---"}, {class: "select-default"}
      .form-sub-t.flexcontainer
        %h3.sub-title-t
          販売価格(300〜9,999,999)
          =link_to "?", "/jp/help_center/article/64/", target: "_blank", class: "help-link-icon-t"
        .form-input-list-t
          %ul.price-field-list
            %li.form-input-t
              .flexcontainer.price-T
                %label
                  価格
                  %span.must-filled-mark-t
                    必須
                .flexcontainer.price-T.price-input
                  ¥
                  %div
                    =f.text_field :price, placeholder: "例）300", class: "input-default", id: "product_price"
                    
            %li.flexcontainer.product-fee
              %div
                販売手数料 (10%)
              #product-fee
                \-
            %li.flexcontainer.bold.product-gain
              %div
                販売利益
              #product-gain
                \-
      %div.form-sub-t.button-container-t
        %div
          %p
            =link_to "禁止されている出品", "/jp/help_center/getting_started/prohibited_items/", target: "_blank", class: "product-new-caution"
            =link_to "行為", "/jp/help_center/getting_started/prohibited_conduct/", target: "_blank", class: "product-new-caution"
            を必ずご確認ください。
          %p
            またブランド品でシリアルナンバー等がある場合はご記載ください。
            =link_to "偽ブランドの販売", "/jp/help_center/getting_started/counterfeit_goods/", target: "_blank", class: "product-new-caution"
            は犯罪であり処罰される可能性があります。
          %p
            また、出品をもちまして
            =link_to "加盟店規約", "/jp/seller_terms/", class: "product-new-caution"
            に同意したことになります。
        %button.button-t.button-submit-t{type: "submit"}
          出品する
        =link_to "もどる", "xxx_path", class: "button-t button-cancel-t"
  %footer.product-new-footer-T
    %nav
      %ul.flexcontainer
        %li
          =link_to "プライバシーポリシー", "https://www.mercari.com/jp/privacy/"
        %li
          =link_to "メルカリ利用規約", "https://www.mercari.com/jp/tos/"
        %li
          =link_to "特定商取引に関する表記", "https://www.mercari.com/jp/tokutei/"
    =link_to "https://www.mercari.com/jp/", class: "product-new-footer-LOGO-t" do
      =image_tag "//www-mercari-jp.akamaized.net/assets/img/common/common/logo-gray.svg?1248199994", alt: "mercari", width: "80", height: "65"
    %p
      %small &copy; 2019 Mercari