%header.product-new-header-T
  %h1
    =link_to "https://www.mercari.com/jp/" do
      =image_tag "//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?1248199994", alt: "mercari"

%main.product-new-main-T
  %h2.purchase-confirmation-title-T
    購入内容の確認
  %section.purchese-confirm-sections.product-info
    = image_tag("#{@images.product_image}", size: '64', class: "product-img")
    %p.product-name
      = @product.name
    -# =モデル無しのform_withを仮置き
    = form_with url: root_path, class: "purchase-confirmation-form" do |f|
      .form-sub-price-k
        .product-price
          ¥
          = @product.price
          %span.fee-side
            送料込み
      .point-info
        =link_to("root_path", method: :get, class: "no-point-k") do
          ポイントはありません
      .pay-amount
        .payment-subtitle
          支払い金額
        .payment-price
          ¥
          = @product.price
      =link_to( buy_product_path,class: "btn-default btn-red bold.form-buy-bottan_k") do
        購入する
  %section.purchese-confirm-sections.buyer-address
    %h3
      配送先
    %address
      = @users.address_number
      %br
      = @users_prefecture
      = @users.address_city
      = @users.address_banch
      %br
      = @users.nick_name
    %p.buy-user-info-text
    =link_to "", class:"change-link-purchase-confirm" do
      %span
        変更する
      .fa.fa-chevron-right
  %section.purchese-confirm-sections.purchase-info
    %h3
      支払い方法
    %p.buy-user-info-text
      カード番号
      %br
      有効期限
    %figure
      =image_tag "/assets/jcb-logomark-img-01.gif", alt: "jcb",  width: "26", height: "20"
    %p
    =link_to "select-card", class: "change-link-purchase-confirm" do
      %span
        変更する
      .fa.fa-chevron-right
%footer.product-new-footer-T
  %nav
    %ul.flexcontainer.purchase-confirmation-footer
      %li
        =link_to "プライバシーポリシー", privacy_users_path
      %li
        =link_to "メルカリ利用規約", "https://www.mercari.com/jp/tos/"
      %li
        =link_to "特定商取引に関する表記", "https://www.mercari.com/jp/tokutei/"
  =link_to "https://www.mercari.com/jp/", class: "product-new-footer-LOGO-t" do
    =image_tag "//www-mercari-jp.akamaized.net/assets/img/common/common/logo-gray.svg?1248199994", alt: "mercari", width: "80", height: "65"
  %p
    %small &copy; 2019 Mercari