!!!
%html{lang: "ja"}
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{charset: "UTF-8"}/
    %title メルカリ スマホでかんたん フリマアプリ
    %link{href: "ProductDetails.html.css", rel: "stylesheet"}/
  %body
    = render 'shared/header'
    %section.h-single-container
      %h1.item-name
        =@product.name
      .item-main-contentclearfix
        .item-photo
          .owl-carousel
            .owl-item-inner 
          -#     = image_tag("#{@image.product_images}")
          -# .other_image_box_k
          -#   - @images.each do |image|
          -#     .other_image_nimi_box_k
          -#       = image_tag("#{image.product_images}",width: "55" )
          -#   - unless @product.finished == 0
              .items__sold
                .items__sold__inner SOLD
        .item-price-box.text-center.visible-sp
          %span.item-price.bold 
            ¥
            = @product.price
          %span.item-tax (税込)
          %span.item-shipping-fee 送料込み
        %section.visible-sp
          .item-btn-float-area item-buy-btn
          = link_to '購入画面に進む', 'https://www.mercari.com/jp/transaction/buy/m49716933620/?_s=U2FsdGVkX19WUCsaI82wKoewuz1PDFSdWk4jJVE8rQ61A29D217q0A2R5i4J7GypQ4yrQyKxpF_bkVpRYieHjFcJkcGb2A1rNqbXrV01s-uxwDyP_2SX38i0cC5pY3JC'     
        %table.item-detail-table
          %tr
            %th 出品者
            %td
              %h6
                -# = link_to "#{@user.nick_name}"
              %div
                .item-user-ratings
                  %img{src: "/images/smile.png", alt: "", width: "20px", height: "20px"}
                  %span 0
                .item-user-ratings
                  %img{src: "/images/magao.png", alt: "", width: "20px", height: "20px"}
                  %span 0
                .item-user-ratings
                  %img{src: "/images/kanasimi.png", alt: "", width: "20px", height: "20px"}
                  %span 0
          %tr
            %th カテゴリー
            %td.ct_bo_k
              %div.ct_1_k 
                %h6
                  = @product.parent
              %div.ct_2_k
                %h6
                  = @product.child
              %div.ct_3_k
                %h6
                  = @product.grand
            -# = link_to 'https://www.mercari.com/jp/category/75/'
              .item-detail-table-sub-category
                %i.fa.fa-arrow-right
                CD
            -#   = link_to 'https://www.mercari.com/jp/category/696/'
              .item-detail-table-sub-sub-category
                %i.fa.fa-arrow-right
                アニメ
          %tr
            %th ブランド
            %td
            %h6
          %tr
            %th 商品の状態
            %td=@product.status
          %tr
            %th 配送料の負担
            %td=@product.delivery_fee
          %tr
            %th 配送の方法
            %td=@product.delivery_method
          %tr
            %th 配送元地域
            %td
              %h6
                = link_to(@prefecture)
          %tr
            %th 発送日の目安
            %td 1~2日で発送
      .item-price-box.text-center
        %span.item-price.bold 
          ¥
          = @product.price
        %span.item-tax (税込)
        %span.item-shipping-fee 送料込み
      - if current_user.id != @product.seller_id
        - if @product.finished == 0
          = link_to(purchase_confirmation_product_path(@product.id), method: :get) do
            .item-buy-btn
              購入画面に進む
        - else
          = link_to(purchase_confirmation_product_path(@product.id), method: :get) do
            .item-sold-btn
              売り切れました
      - else

      .item-description.f14
        %p.item-description-inner
          =@product.text
      .item-button-container.clearfix
        .item-button-left
          %button.item-button.item-button-like{"data-ga" => "element", "data-ga-category" => "LIKE", "data-ga-label" => "like!", "data-id" => "m49716933620", "data-toggle" => "like", name: "like!", type: "button"}
            %i.fa.fa-heart
            %span いいね!
            %span.fade-in-down{"data-num" => "like"} 1
          %button.item-button.item-button-like{"data-ga" => "element", "data-ga-category" => "LIKE", "data-ga-label" => "like!", "data-id" => "m49716933620", "data-toggle" => "like", name: "like!", type: "button"}
            %i.fa.fa-flag
            %span 不適切な商品の報告
          %input{name: "like_add_url", type: "hidden", value: "https://www.mercari.com/jp/like/add/m49716933620/?_s=U2FsdGVkX19WUCsaI82wKoewuz1PDFSdWk4jJVE8rQ61A29D217q0A2R5i4J7GypQ4yrQyKxpF_bkVpRYieHjFcJkcGb2A1rNqbXrV01s-uxwDyP_2SX38i0cC5pY3JC"}/
          %input{name: "like_del_url", type: "hidden", value: "https://www.mercari.com/jp/like/delete/m49716933620/?_s=U2FsdGVkX19WUCsaI82wKoewuz1PDFSdWk4jJVE8rQ61A29D217q0A2R5i4J7GypQ4yrQyKxpF_bkVpRYieHjFcJkcGb2A1rNqbXrV01s-uxwDyP_2SX38i0cC5pY3JC"}/
          %input{name: "__csrf_value", type: "hidden", value: "3da33186e1167f7770a2c4888a708062973aa0a30a01bc8be7651a26a668eef421d9b30a874bf25c2fa082bdc912617a310e1a2b1b599324ee2f08a862b6b64c1"}/
        .item-button-right
          %i.fa.fa-lock
          %span 
            %h6 あんしん・あんぜんへの取り組み

- if current_user.id == @product.seller_id
  .item-detail-message2
    .message-container
      .l-content
        .listing-item-change-box2
          =link_to "商品の編集","/products/#{@product.id}/edit",class:"btn-default btn-red"
          %p.text-center or
          %form{action: "/jp/items/deactivate/m69617298882/", method: "POST", novalidate: "novalidate"}
            %input{name: "__csrf_value", type: "hidden", value: "660199b05a53a259c77d0fb7e37799b4b86158f7db09d59cb578d6c5d30783de110c788cbb6800f42ed81d8f0f9762f11c523ca063b44588d32a33e6a5fec13df"}/
            %button.btn-default.btn-gray{type: "submit"} 出品を一旦停止する
          %button.btn-default.btn-gray
            = link_to 'この商品を削除する', "/products/#{@product.id}", method: :delete


.item-detail-message2
  .message-container
    .message-content
      %form.message-form{action: "https://www.mercari.com/jp/comment/add/", method: "POST"}
        %input{name: "__csrf_value", type: "hidden", value: "3da33186e1167f7770a2c4888a708062973aa0a30a01bc8be7651a26a668eef421d9b30a874bf25c2fa082bdc912617a310e1a2b1b599324ee2f08a862b6b64c1"}/
        %p 相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
        %input{name: "item_id", type: "hidden", value: "m49716933620"}/
        %input{name: "redirect_url_key", type: "hidden", value: "item_detail"}/
        %textarea.textarea-default{name: "body", type: "text", value: ""}
        %button.message-submit.btn-default.btn-gray{type: "submit"}
          %span コメントする
    %aside.modal{"data-close" => "modal", "data-modal" => "delete-comment"}
      .modal-inner.modal-banner
        .modal-body
          .modal-head.bold 確認
          %div{"data-comment" => "body"}
          %br/
          本当にこのコメントを削除してよろしいですか？
        %form{action: "https://www.mercari.com/jp/comment/delete/", method: "POST"}
          .clearfix
            .modal-btn.modal-btn-cancel{"data-close" => "modal"} キャンセル
            %button.modal-btn.modal-btn-submit{type: "submit"}
              削除する
          %input{name: "item_id", type: "hidden", value: "m49716933620"}
          %input{name: "comment_id", type: "hidden", value:  ""}
          %input{name: "redirect_url_key", type: "hidden", value: "item_detail"}
          %input{name: "__csrf_value", type: "hidden", value: "3da33186e1167f7770a2c4888a708062973aa0a30a01bc8be7651a26a668eef421d9b30a874bf25c2fa082bdc912617a310e1a2b1b599324ee2f08a862b6b64c1"}

%footer.sc-dTdPqK.hvtMHp.sc-gbzWSY.tMFrx
  =render 'shared/footer'
