%section.h-item-box-container.h-single-container
  %h1.item-name ラブライブ！サンシャイン!! ソフマップ全巻購入特典 LONELY TUNING
  .item-main-content.clearfix
    .item-photo
      .owl-carousel
        .owl-item-inner
          = image_tag  'https://static.mercdn.net/item/detail/orig/photos/m49716933620_1.jpg?1572580974', class: 'owl-lazy', alt: 'ラブライブ！サンシャイン!! ソフマップ全巻購入特典 LONELY TUNING'
    .item-price-box.text-center.visible-sp
      %span.item-price.bold ¥12,000
      %span.item-tax (税込)
      %span.item-shipping-fee 送料込み
    %section.visible-sp
      .item-btn-float-area
        = link_to '購入画面に進む', 'https://www.mercari.com/jp/transaction/buy/m49716933620/?_s=U2FsdGVkX19WUCsaI82wKoewuz1PDFSdWk4jJVE8rQ61A29D217q0A2R5i4J7GypQ4yrQyKxpF_bkVpRYieHjFcJkcGb2A1rNqbXrV01s-uxwDyP_2SX38i0cC5pY3JC', clssa: 'item-buy-btn'
    %table.item-detail-table
      %tboby
        %tr
          %th 出品者
          %td
            = link_to 'ドロ', 'https://www.mercari.com/jp/u/506612442/'
            %div
              .item-user-ratings
                %i.icon-good
                %span 26
              .item-user-ratings
                %i.icon-normal
                %sapn 0
              .item-user-ratings
                %i.icon-bad
                %sapn 0
        %tr
          %th 
            .c_text_h
              カテゴリー
          %td
            .test_h
              = link_to "",'https://www.mercari.com/jp/category/5/'
              .part1_h
                本.音楽.ゲーム
              = link_to "", 'https://www.mercari.com/jp/category/75/'
              .item-detail-table-sub-category
                = fa_icon 'icon-arrow-ridht', text: "cd"
                = link_to '', 'https://www.mercari.com/jp/category/696/'
              .item-detail-table-sub-category
                = fa_icon 'icon-arrow-ridht', text: "アニメ"
        %tr
          %th
            .bland_h 
              ブランド
          %td
        %tr
          %th 
            .rx-93
            商品の状態
          %td 新品、未使用
        %tr
          %th 
            .rx-78 
            配送料の負担
          %td 送料込み(出品者負担)
        %tr
          %th 
            .r-1
            配送の方法
          %td ゆうパケット
        %tr
          %th
            .r-2 
            配送元地域
          %td
            = link_to '神奈川県', 'https://wwww.mercari.com/jp/area/14' 
        %tr
          %th 
            .r-3
            発送日の目安
          %td 
            .gp-04
            1〜2日で発送
  .item-price-box.text-center
    %span.item-price.bold ¥12000
    %span.item-tax (税込)
    %span.item-shipping-fee 送料込み
  = link_to '購入画面に進む', 'https://www.mercari.com/jp/transaction/buy/m49716933620/?_s=U2FsdGVkX19WUCsaI82wKoewuz1PDFSdWk4jJVE8rQ61A29D217q0A2R5i4J7GypQ4yrQyKxpF_bkVpRYieHjFcJkcGb2A1rNqbXrV01s-uxwDyP_2SX38i0cC5pY3JC', class: 'item-buy-btn'
  %p.item-description-inner
    ラブライブ！サンシャイン!!TVアニメBlu-ray特装限定版ソフマップ全巻購入特典「LONELY TUNING」
    
    未開封品ですが、初期ダメージは多少付いてありますので、神経質な方はご遠慮ください。
    
    衝撃防止と放水対策をさせて発送致します。
    
    AZALEA
    松浦果南
    黒澤ダイヤ
    国木田花丸
    .item-button-container.cleafix
      .item-button-left
        %button.item-button.item-button-left{"data-ga" => "element", "data-ga-category" => "LIKE", "data-ga-label" => "like!", "data-id" => "m49716933620", "data-toggle" => "like", name: "like!", type: "button"}
          = fa_icon 'icon-like-border'
          %span いいね！
          %span.fade-in-down{"data-num" => "like"} 1
        = link_to '', class: 'item-button item-button-report clearfix' do
          = fa_icon 'icon-flag'
          %span 不適切な商品の報告
        %input{name: "like_add_url", type: "hidden", value: "https://www.mercari.com/jp/like/add/m49716933620/?_s=U2FsdGVkX19WUCsaI82wKoewuz1PDFSdWk4jJVE8rQ61A29D217q0A2R5i4J7GypQ4yrQyKxpF_bkVpRYieHjFcJkcGb2A1rNqbXrV01s-uxwDyP_2SX38i0cC5pY3JC"}/
        %input{name: "like_del_url", type: "hidden", value: "https://www.mercari.com/jp/like/delete/m49716933620/?_s=U2FsdGVkX19WUCsaI82wKoewuz1PDFSdWk4jJVE8rQ61A29D217q0A2R5i4J7GypQ4yrQyKxpF_bkVpRYieHjFcJkcGb2A1rNqbXrV01s-uxwDyP_2SX38i0cC5pY3JC"}/
        %input{name: "__csrf_value", type: "hidden", value: "3da33186e1167f7770a2c4888a708062973aa0a30a01bc8be7651a26a668eef421d9b30a874bf25c2fa082bdc912617a310e1a2b1b599324ee2f08a862b6b64c1"}/
      .item-button-right
        = link_to('htttps://www.mercari.com/jp/safe/description', target: '_blank' ,) do
          = fa_icon 'icon-lock'
          %span あんしん・あんぜんへの取り組み
    .item-detail-message
      .message-container
        .message-content
          %form.message-form{action: "https://www.mercari.com/jp/comment/add/", method: "POST"}
            %input{name: "__csrf_value", type: "hidden", value: "3da33186e1167f7770a2c4888a708062973aa0a30a01bc8be7651a26a668eef421d9b30a874bf25c2fa082bdc912617a310e1a2b1b599324ee2f08a862b6b64c1"}/
            %p 相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
            %input{name: "item_id", type: "hidden", value: "m49716933620"}/
            %input{name: "redirect_url_key", type: "hidden", value: "item_detail"}/
            %textarea.h-textarea-default{name: "body", type: "text", value: ""}
            %button.message-submit.btn-default.btn-gray{type: "submit"}
              %span コメントする
    -# %ul.nav-item-link-prev-next.clearfix
    -#   %li.nav-item-link-prev
    -#     = link_to '', 'https://item.mercari.com/jp/m76402632145/' 
    -#      = fa_icon 'icon-arrow-left'
    -#        らむちゃむ様専用2
    -#    %li.nav-item-link-next
    -#     = link_to '', 'https//:item.mercari.com/jp/m12415990181/'
    -#       【新品】Hurley  ◇  ハーレー  パーカー  キッズ  2T
    -#      %i.icon-arrow-right
    .item-social-media-box
      .text-center
        .fb-save.fb_iframe_widget{"data-url" => "product://113299479059860/m49716933620", "fb-iframe-plugin-query" => "app_id=466308336793848&container_width=700&locale=ja_JP&sdk=joey&uri=product%3A%2F%2F113299479059860%2Fm49716933620", "fb-xfbml-state" => "rendered"}
          %span{style: "vertical-align: top; width: 0px; height: 0px; overflow: hidden;"}
            %iframe{allow: "encrypted-media", allowfullscreen: "true", allowtransparency: "true", frameborder: "0", height: "1000px", name: "f334201b4c68ce4", scrolling: "no", src: "https://www.facebook.com/v2.5/plugins/save.php?app_id=466308336793848&channel=https%3A%2F%2Fstaticxx.facebook.com%2Fconnect%2Fxd_arbiter.php%3Fversion%3D44%23cb%3Df12864c7059bc7%26domain%3Ditem.mercari.com%26origin%3Dhttps%253A%252F%252Fitem.mercari.com%252Ff3cbb132902fc6%26relation%3Dparent.parent&container_width=700&locale=ja_JP&sdk=joey&uri=product%3A%2F%2F113299479059860%2Fm49716933620", style: "border: none; visibility: visible; width: 0px; height: 0px;", title: "fb:save Facebook Social Plugin", width: "1000px"}
    %ul.social-media-box
      %li
        %i.fa.fa-facebook-square
      %li
        %i.fa.fa-twitter-square
      %li  
        %i.fa.fa-pinterest-square
  