!!!
%html{:lang => "ja"}
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{charset: "UTF-8"}/
    %title メルカリ スマホでかんたん フリマアプリ
    %link{href: "ProductDetails.html.css", rel: "stylesheet"}/
  %body
    %section.h-single-container
      %h1.item-name ラブライブ！サンシャイン!! ソフマップ全巻購入特典 LONELY TUNING
      .item-main-contentclearfix
        .item-photo
          .owl-carousel
            .owl-item-inner 
              = image_tag 'https://static.mercdn.net/item/detail/orig/photos/m49716933620_1.jpg?1572580974', class: 'owl-lazy', alt: 'ラブライブ！サンシャイン!! ソフマップ全巻購入特典 LONELY TUNING'
        .item-price-box.text-center.visible-sp
          %span.item-price.bold ¥12,000
          %span.item-tax (税込)
          %span.item-shipping-fee 送料込み
        %section.visible-sp
          .item-btn-float-area item-buy-btn
          = link_to '購入画面に進む', 'https://www.mercari.com/jp/transaction/buy/m49716933620/?_s=U2FsdGVkX19WUCsaI82wKoewuz1PDFSdWk4jJVE8rQ61A29D217q0A2R5i4J7GypQ4yrQyKxpF_bkVpRYieHjFcJkcGb2A1rNqbXrV01s-uxwDyP_2SX38i0cC5pY3JC'     
        %table.item-detail-table
          %tr
            %th 出品者
            %td
              = link_to 'ドロ', 'https://www.mercari.com/jp/u/506612442/' 
              %div
                .item-user-ratings
                  %i.fa.fa-good
                  %span 26
                .item-user-ratings
                  %i.fa.fa-normal
                  %span 0
                .item-user-ratings
                  %i.fa.fa-bad
                  %span 0
          %tr
            %th カテゴリー
            %td
                %div 本・音楽・ゲーム
              -# = link_to 'https://www.mercari.com/jp/category/75/'
                .item-detail-table-sub-category
                  %i.fa.fa-arrow-right
                  CD
              -#   = link_to 'https://www.mercari.com/jp/category/696/'
                .item-detail-table-sub-sub-category
                  %i.fa.fa-arrow-right
                  アニメ
          %tr
            %th ブランド
            %td
          %tr
            %th 商品の状態
            %td 新品、未使用
          %tr
            %th 配送料の負担
            %td 送料込み(出品者負担)
          %tr
            %th 配送の方法
            %td ゆうパケット
          %tr
            %th 配送元地域
            %td
              = link_to '神奈川県','https://www.mercari.com/jp/area/14/' 
          %tr
            %th 発送日の目安
            %td 1~2日で発送
      .item-price-box.text-center
        %span.item-price.bold ¥12,000
        %span.item-tax (税込)
        %span.item-shipping-fee 送料込み
      = link_to '購入画面に進む','https://www.mercari.com/jp/transaction/buy/m49716933620/?_s=U2FsdGVkX19WUCsaI82wKoewuz1PDFSdWk4jJVE8rQ61A29D217q0A2R5i4J7GypQ4yrQyKxpF_bkVpRYieHjFcJkcGb2A1rNqbXrV01s-uxwDyP_2SX38i0cC5pY3JC', class: 'item-buy-btn'
      = link_to 'アプリで購入','http://app.adjust.io/xio2ii?campaign=iOS&adgroup=items.buy_button1', class: 'item-action-text'
      .item-description.f14
        %p.item-description-inner
          ラブライブ！サンシャイン!!TVアニメBlu-ray特装限定版ソフマップ全巻購入特典「LONELY TUNING」
          
          未開封品ですが、初期ダメージは多少付いてありますので、神経質な方はご遠慮ください。
          
          衝撃防止と放水対策をさせて発送致します。
          
          AZALEA
          松浦果南
          黒澤ダイヤ
          国木田花丸
      .item-button-container.clearfix
        .item-button-left
          %button.item-button.item-button-like{"data-ga" => "element", "data-ga-category" => "LIKE", "data-ga-label" => "like!", "data-id" => "m49716933620", "data-toggle" => "like", name: "like!", type: "button"}
            %i.fa.fa-like-border
            %span いいね!
            %span.fade-in-down{"data-num" => "like"} 1
          %button.item-button.item-button-like{"data-ga" => "element", "data-ga-category" => "LIKE", "data-ga-label" => "like!", "data-id" => "m49716933620", "data-toggle" => "like", name: "like!", type: "button"}
            %i.fa.fa-flag
            %span 不適切な商品の報告
          %input{name: "like_add_url", type: "hidden", value: "https://www.mercari.com/jp/like/add/m49716933620/?_s=U2FsdGVkX19WUCsaI82wKoewuz1PDFSdWk4jJVE8rQ61A29D217q0A2R5i4J7GypQ4yrQyKxpF_bkVpRYieHjFcJkcGb2A1rNqbXrV01s-uxwDyP_2SX38i0cC5pY3JC"}/
          %input{name: "like_del_url", type: "hidden", value: "https://www.mercari.com/jp/like/delete/m49716933620/?_s=U2FsdGVkX19WUCsaI82wKoewuz1PDFSdWk4jJVE8rQ61A29D217q0A2R5i4J7GypQ4yrQyKxpF_bkVpRYieHjFcJkcGb2A1rNqbXrV01s-uxwDyP_2SX38i0cC5pY3JC"}/
          %input{name: "__csrf_value", type: "hidden", value: "3da33186e1167f7770a2c4888a708062973aa0a30a01bc8be7651a26a668eef421d9b30a874bf25c2fa082bdc912617a310e1a2b1b599324ee2f08a862b6b64c1"}/
        .item-button-right
          %i.fa.fa-lock
          %span 
            あんしん・あんぜんへの取り組み

    .item-detail-message
      .message-container
        .message-content
          %form.message-form{action: "https://www.mercari.com/jp/comment/add/", method: "POST"}
            %input{name: "__csrf_value", type: "hidden", value: "3da33186e1167f7770a2c4888a708062973aa0a30a01bc8be7651a26a668eef421d9b30a874bf25c2fa082bdc912617a310e1a2b1b599324ee2f08a862b6b64c1"}/
            %p 相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
            %input{name: "item_id", type: "hidden", value: "m49716933620"}/
            %input{name: "redirect_url_key", type: "hidden", value: "item_detail"}/
            %textarea.textarea-default{name: "body", type: "text", value: ""}
            %button.message-submit.btn-default.btn-gray{type: "submit"}
              %span コメントする
        %aside.modal{"data-close" => "modal", "data-modal" => "delete-comment"}
          .modal-inner.modal-banner
            .modal-body
              .modal-head.bold 確認
              %div{"data-comment" => "body"}
              %br/
              本当にこのコメントを削除してよろしいですか？
            %form{action: "https://www.mercari.com/jp/comment/delete/", method: "POST"}
              .clearfix
                .modal-btn.modal-btn-cancel{"data-close" => "modal"} キャンセル
                %button.modal-btn.modal-btn-submit{type: "submit"}
                  削除する
              %input{name: "item_id", type: "hidden", value: "m49716933620"}/
              %input{name: "comment_id", type: "hidden", value:  ""}/
              %input{name: "redirect_url_key", type: "hidden", value: "item_detail"}/
              %input{name: "__csrf_value", type: "hidden", value: "3da33186e1167f7770a2c4888a708062973aa0a30a01bc8be7651a26a668eef421d9b30a874bf25c2fa082bdc912617a310e1a2b1b599324ee2f08a862b6b64c1"}/
    %ul.nav-item-link-prev-next.clearfix
      %li.nav-item-link-prev
    -#     = link_to 'https://item.mercari.com/jp/m76402632145/'
          %i.fa.fa-arrow-left
          らむちゃむ様専用2
      %li.nav-item-link-next
    -#     = link_to 'https://item.mercari.com/jp/m12415990181/'
          【新品】Hurley  ◇  ハーレー  パーカー  キッズ  2T
          %i.fa.fa-arrow-right
    .item-social-media-box
      .text-center
        .fb-save{"data-uri" => "product://113299479059860/m49716933620"}
      %ul.social-media-box
        %li
    -#       = link_to 'http://www.facebook.com/share.php?u=https%3A%2F%2Fitem.mercari.com%2Fjp%2Fm49716933620%2F', target: '_blank', class: 'share-btn'
            %i.fa.fa-facebook
    -#     %li
    -#       = link_to 'http://twitter.com/share?count=horizontal&original_referer=https%3A%2F%2Fitem.mercari.com%2Fjp%2Fm49716933620%2F&text=%E3%83%A9%E3%83%96%E3%83%A9%E3%82%A4%E3%83%96%EF%BC%81%E3%82%B5%E3%83%B3%E3%82%B7%E2%80%A6%20%28%C2%A512%2C000%29%20https%3A%2F%2Fitem.mercari.com%2Fjp%2Fm49716933620%2F%20%E3%83%95%E3%83%AA%E3%83%9E%E3%82%A2%E3%83%97%E3%83%AA%E3%80%8C%E3%83%A1%E3%83%AB%E3%82%AB%E3%83%AA%E3%80%8D%E3%81%A7%E8%B2%A9%E5%A3%B2%E4%B8%AD%E2%99%AA%20%23%E3%83%A1%E3%83%AB%E3%82%AB%E3%83%AA%20%40mercari_jp%E3%81%95%E3%82%93%E3%81%8B%E3%82%89', target: '_blank', class: 'share-btn'
            %i.icon-twitter
        %li.social-hidden-item
    -#       = link_to 'http://line.me/R/msg/text/?ラブライブ！サンシャイン!! ソフマップ全巻購入特典 LONELY TUNING%20%7C%20%E3%83%A1%E3%83%AB%E3%82%AB%E3%83%AA%20%E3%82%B9%E3%83%9E%E3%83%9B%E3%81%A7%E3%81%8B%E3%82%93%E3%81%9F%E3%82%93%20%E3%83%95%E3%83%AA%E3%83%9E%E3%82%A2%E3%83%97%E3%83%AA%0D%0Ahttps://item.mercari.com/jp/m49716933620/', target: '_blank'
            %i.fa.fa-line
        %li
    -#       = link_to 'http://pinterest.com/pin/create/button/?url=https%3A%2F%2Fitem.mercari.com%2Fjp%2Fm49716933620%2F&media=https%3A%2F%2Fstatic.mercdn.net%2Fitem%2Fdetail%2Forig%2Fphotos%2Fm49716933620_1.jpg%3F1572580974&description=%E3%83%A1%E3%83%AB%E3%82%AB%E3%83%AA%E5%95%86%E5%93%81%3A%20%E3%83%A9%E3%83%96%E3%83%A9%E3%82%A4%E3%83%96%EF%BC%81%E3%82%B5%E3%83%B3%E3%82%B7%E3%83%A3%E3%82%A4%E3%83%B3%21%21%20%E3%82%BD%E3%83%95%E3%83%9E%E3%83%83%E3%83%97%E5%85%A8%E5%B7%BB%E8%B3%BC%E5%85%A5%E7%89%B9%E5%85%B8%20LONELY%20TUNING%20%23%E3%83%A1%E3%83%AB%E3%82%AB%E3%83%AA', target: '_blank', class: 'share-btn'
            %i.fa.fa-pinterest
    .items-in-user-profile
      %section.items-box-container.clearfix.related-item-column.items-in-user-profile
        %h2.items-box-head
    -#       = link_to 'ドロさんのその他の出品','https://www.mercari.com/jp/u/506612442/' 
        .items-box-content.clearfix
          %section.items-box
    -#         = link_to 'https://item.mercari.com/jp/m92958394078/'
              %figure.items-box-photo
                = image_tag  'https://static.mercdn.net/thumb/photos/m92958394078_1.jpg?1557969203', class: 'lazyload', alt: '飯田里穂 ブロマイド 生写真 二枚セット'
              .items-box-body
                %h3.items-box-name.font-2 飯田里穂 ブロマイド 生写真 二枚セット
                .items-box-num
                  .items-box-price.font-5 ¥500
          %section.items-box
    -#         = link_to 'https://item.mercari.com/jp/m34953611012/'
              %figure.items-box-photo
              = image_tag 'https://static.mercdn.net/thumb/photos/m34953611012_1.jpg?1567185534', class: 'lazyload', alt: 'ゾンビランドサガ トレーディング缶バッジ ラッピング列車 星川リリィ'
              .items-box-body
                %h3.items-box-name.font-2 ゾンビランドサガ トレーディング缶バッジ ラッピング列車 星川リリィ
                .items-box-num
                  .items-box-price.font-5 ¥499
                  .font-2
                    %i.fa.fa-like-border
                    %span 2
          %section.items-box
    -#         = link_to 'https://item.mercari.com/jp/m10928654768/'
              %figure.items-box-photo
    -#             = link_to 'https://static.mercdn.net/thumb/photos/m10928654768_1.jpg?1572393913', class: 'lazyload', alt: 'TAMASHII NATION 2019 真骨彫 仮面ライダーディエンド'
                %figcaption
                  .item-sold-out-badge
                    %div SOLD
              .items-box-body
                %h3.items-box-name.font-2 TAMASHII NATION 2019 真骨彫 仮面ライダーディエンド
                .items-box-num
                  .items-box-price.font-5 ¥11,111
                  .font-2
                    %i.fa.fa-like-border
                    %span 3
          %section.items-box
    -#         =link_to 'https://item.mercari.com/jp/m82816494031/'
              %figure.items-box-photo
                = image_tag 'https://static.mercdn.net/thumb/photos/m82816494031_1.jpg?1571897472', class: 'lazyload', alt: 'フランシュシュ The Best 発売記念イベント シリアル 2組セット'
                %figcaption
                  .item-sold-out-badge
                    %div SOLD
              .items-box-body
                %h3.items-box-name.font-2 フランシュシュ The Best 発売記念イベント シリアル 2組セット
                .items-box-num
                  .items-box-price.font-5 ¥2,200
                  .font-2
                    %i.fa.fa-like-border
                    %span 1
          %section.items-box
    -#         = link_to 'https://item.mercari.com/jp/m69659774499/'
              %figure.items-box-photo
                = image_tag  'https://static.mercdn.net/thumb/photos/m69659774499_1.jpg?1563898665', class: 'lazyload', alt: 'Guilty Kiss / Strawberry Trapper ブロマイド'
              .items-box-body
                %h3.items-box-name.font-2 Guilty Kiss / Strawberry Trapper ブロマイド
                .items-box-num
                  .items-box-price.font-5 ¥1,400
          %section.items-box
    -#         = link_to 'https://item.mercari.com/jp/m37271491929/'
              %figure.items-box-photo
                = image_tag 'https://static.mercdn.net/thumb/photos/m37271491929_1.jpg?1566744098', class: 'lazyload', alt: 'ゾンビランドサガ 源さくら ~ふんわりスタイル♪~ 缶バッジ'
              .items-box-body
                %h3.items-box-name.font-2 ゾンビランドサガ 源さくら ~ふんわりスタイル♪~ 缶バッジ
                .items-box-num
                  .items-box-price.font-5 ¥555
      %section.items-box-container.clearfix.related-item-column
        %h2.items-box-head
    -#       = link_to 'https://www.mercari.com/jp/category/696/'
            アニメ （本・音楽・ゲーム） その他の商品
        .items-box-content.clearfix
          %section.items-box
    -#         = link_to 'https://item.mercari.com/jp/m89761558373/'
              %figure.items-box-photo
                = image_tag 'https://static.mercdn.net/thumb/photos/m89761558373_1.jpg?1572945247', class: 'lazyload', alt: 'CD'
              .items-box-body
                %h3.items-box-name.font-2 CD
                .items-box-num
                  .items-box-price.font-5 ¥888
          %section.items-box
    -#         = link_to 'https://item.mercari.com/jp/m35281885814/'
              %figure.items-box-photo
                = image_tag 'https://static.mercdn.net/thumb/photos/m35281885814_1.jpg?1572945245' class: 'lazyload', alt: 'ラブライブ サンシャイン CD3枚セット'
                %figcaption
                  .item-sold-out-badge
                    %div SOLD
              .items-box-body
                %h3.items-box-name.font-2 ラブライブ サンシャイン CD3枚セット
                .items-box-num
                  .items-box-price.font-5 ¥1,999
          %section.items-box
    -#         = link_to 'https://item.mercari.com/jp/m78486115825/'
              %figure.items-box-photo
                = image_tag 'https://static.mercdn.net/thumb/photos/m78486115825_1.jpg?1567223979', class: 'lazyload', alt: '名探偵コナン グッズ'
              .items-box-body
                %h3.items-box-name.font-2 名探偵コナン グッズ
                .items-box-num
                  .items-box-price.font-5 ¥1,111
          %section.items-box
    -#         = link_to 'https://item.mercari.com/jp/m10657871599/'
              %figure.items-box-photo
    -#             = link_to 'https://static.mercdn.net/thumb/photos/m10657871599_1.jpg?1572945142', class: 'lazyload', alt: 'カラマリ 予約特典CD'
              .items-box-body
                %h3.items-box-name.font-2 カラマリ 予約特典CD
                .items-box-num
                  .items-box-price.font-5 ¥888
          %section.items-box
    -#         = link_to 'https://item.mercari.com/jp/m34530811737/'
              %figure.items-box-photo
                = image_tag 'https://static.mercdn.net/thumb/photos/m34530811737_1.jpg?1572138148', class: 'lazyload', alt: 'デレマス 6th Blu-ray コロムビア購入特典  CD(メットライフ)'
              .items-box-body
                %h3.items-box-name.font-2 デレマス 6th Blu-ray コロムビア購入特典  CD(メットライフ)
                .items-box-num
                  .items-box-price.font-5 ¥2,100
          %section.items-box
    -#         = link_to 'https://item.mercari.com/jp/m57002903329/'
              %figure.items-box-photo
                = image_tag 'https://static.mercdn.net/thumb/photos/m57002903329_1.jpg?1572138376', class: 'lazyload', alt: 'デレマス 6th Blu-ray コロムビア購入特典  CDナゴヤドーム)' 
              .items-box-body
                %h3.items-box-name.font-2 デレマス 6th Blu-ray コロムビア購入特典  CDナゴヤドーム)
                .items-box-num
                  .items-box-price.font-5 ¥2,100
    %aside.modal{"data-close" => "modal", "data-modal" => "report-item"}
      .modal-inner.modal-banner
        .modal-body
          .modal-head.bold 確認
          不適切な商品を報告しますか？
        .clearfix
          .modal-btn.modal-btn-cancel{"data-close" => "modal"} キャンセル
    -#       = link_to 'https://www.mercari.com/jp/report/m49716933620/'
            %button.modal-btn.modal-btn-submit はい
    %nav.bread-crumbs.pos-bottom
      %ul
        %li{itemscope: "", itemtype: "http://data-vocabulary.org/Breadcrumb"}
          -# = link_to 'https://www.mercari.com/jp/', itemprop: 'url'
            %span{itemprop: "title"} メルカリ
          %i.icon-arrow-right
        %li{itemscope: "", itemtype: 'http://data-vocabulary.org/Breadcrumb'}
          %span{itemprop: 'title'} ラブライブ！サンシャイン!! ソフマップ全巻購入特典 LONELY TUNING

