!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title FreemarketSample61d
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    / Google Tag Manager (noscript)
    %noscript
      "
      %iframe{height: "0", src: "https://www.googletagmanager.com/ns.html?id=GTM-KLPT5L5", style: "display:none;visibility:hidden", width: "0"}>
      "
    / End Google Tag Manager (noscrigt)
    .single-container
      %header.single-header
        %h1
          =link_to image_tag("//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?1248199994", alt: "mercari"), root_path
      %main.single-main
        %section.l-single-container
          %h2.l-single-headregistration 新規登録
          .l-single-innerregistration-form
            .l-single-content
              %a.btn-default.btn-mail{href: "http://www.mercari.com/jp/signup/registration/"}
                %i.icon-mail
                "
                メールアドレスで登録する"
              %button#facebook-login.btn-default.btn-sns-facebook
                %i.icon-facebook
                "
                facebookで登録する"
              %button#google-login.btn-default.btn-sns-google
                Googleで登録する
        %form#login_form_facebook{action: "/jp/signup/google", method: "POST", novalidate: "novalidate"}
          %input{name: "__csrf_value", type: "hidden", value: "c626171824fea47b01064ad5cb57a4849dedcfe7329bdba0ebbed84c8aa663f7294ae473e50cc71175b72baf47da6411ba1af9fe6175ef8a6f601af8c5cc312f3"}/
          %input{name: "nickname", type: "hidden", value: ""}/
          %input{name: "email", type: "hidden", value: ""}/
          %input{name: "facebook_user_id", type: "hidden", value: ""}/
          %input{name: "login_type", type: "hidden", value: "facebook"}/
        %input#google_client_id{type: "hidden", value: "238694260676-l0gp5j3hs9p8l2hjmnt126q0b4iin34r.apps.googleusercontent.com"}/
        %input#facebook_app_id{type: "hidden", value: "466308336793848"}/
      %footer.single-footer
        %nav
          %ul.clearfix
            %li
              =link_to "プライバシーポリシー", privacy_users_path
            %li
              %a{href: "https://www.mercari.com/jp/tos/"} メルカリ利用契約
            %a{href: "https://www.mercari.com/jp/tokutei/"} 特定商取引に関する表記
        %a.single-footer-logo{href: "https://www.mercari.com/jp/"}
          %img{alt: "mercari", height: "65", src: "//www-mercari-jp.akamaized.net/assets/img/common/common/logo-gray.svg?1248199994", width: "80"}/
        %p
          %small ©︎2019 Mercari
    = yield
