<!DOCTYPE html>
<html>
  <head>
    <title>FreemarketSample61d</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <!-- Google Tag Manager (noscript) -->
  <noscript>
  "<iframe
  src="https://www.googletagmanager.com/ns.html?id=GTM-KLPT5L5"
  height="0" width="0"
  style="display:none;visibility:hidden">
  </iframe>"
  </noscript>
  <!-- End Google Tag Manager (noscrigt) -->
  <div class="single-container">
    <header class="single-header">
    <h1>
    <a href="https://www.mercari.com/jp/">
      <img src="//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?1248199994" alt=mercari>
      </a>
    </h1>
  </header>
  <main class="single-main">
  <section class="l-single-container">
    <h2 class="l-single-headregistration">新規登録</h2>
    <div class="l-single-innerregistration-form">
    <div class="l-single-content">
      <a href="http://www.mercari.com/jp/signup/registration/" class="btn-default btn-mail">
      <i class="icon-mail">
      </i>
      "
                メールアドレスで登録する"
      </a>
      <button id="facebook-login" class="btn-default btn-sns-facebook">
        <i class="icon-facebook">
        </i>
        "
                facebookで登録する"
      </button>
      <button id="google-login" class="btn-default btn-sns-google">
                Googleで登録する</button>
     </div>
    </div> 
    </section>
    <form id="login_form_facebook" action="/jp/signup/google" method="POST"novalidate="novalidate">
    <input type="hidden" name="__csrf_value" value="c626171824fea47b01064ad5cb57a4849dedcfe7329bdba0ebbed84c8aa663f7294ae473e50cc71175b72baf47da6411ba1af9fe6175ef8a6f601af8c5cc312f3">
    <input type="hidden" name="nickname" value>
    <input type="hidden" name="email" value>
    <input type="hidden" name="facebook_user_id" value>
    <input type="hidden" name="login_type" value="facebook">
    </form>
    <input type="hidden" id="google_client_id" value="238694260676-l0gp5j3hs9p8l2hjmnt126q0b4iin34r.apps.googleusercontent.com">
    <input type="hidden" id="facebook_app_id" value="466308336793848">
    </main>
    <footer class="single-footer">
      <nav>
        <ul class="flexcontainer">
          <li>
            <a href="https://www.mercari.com/jp/privacy/">プライバシーポリシー</a>
          </li> 
          <li>
            <a href="https://www.mercari.com/jp/tos/">メルカリ利用契約</a> 
          </li>
            <a href="https://www.mercari.com/jp/tokutei/">特定商取引に関する表記</a>
          </li>
         </ul>
      </nav>
      <a href="https://www.mercari.com/jp/" class="single-footer-logo">
        <img src="//www-mercari-jp.akamaized.net/assets/img/common/common/logo-gray.svg?1248199994" alt="mercari" width="80" height="65">
      </a>
      <p>
        <small>©︎2019 Mercari</small>
      </p>
     </footer>
    </div>
    <%= yield %>
  </body>
</html>
